

.form-sub-category{
    display: flex;
    justify-content: flex-start; 
    width: 100%;   
}

.form-element{
    margin-left:10px !important;
}

.form-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-subsection-label{
    font-size:0.9rem;
    color:gray
}

.form-group{
    padding:10px
}


.form-group .form-subsection-label{
    padding:0!important;
}
