/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius:4px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #D9D9D9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    left:-80px;
    background-color: #f1f1f1;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:4px
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    border:none;
    width: 100%;
    text-align: left;
  }

  /* Links inside the dropdown */
  .dropdown-content button:hover {
    background-color: #D9D9D9;
  }
  
  .dropdown-content button:disabled{
    color:lightgray
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .inner-button-content{
    display: flex;
    align-items: center;
  }