.invoices-add-header{
    display: flex;
    justify-content: space-between;
}

.add-invoice-greeting{
    display:inherit;
    align-items: center;
}

.add-invoice-greeting .material-icons-outlined{
    margin-right: 5px;
}

.add-invoice-greeting p{
    font-size:20px;
    margin:0;
    font-weight: 500;
}

.close-invoice-app-button{

}

.add-row-button{
    height: 30px;
    border-radius:5px;
}

.product_name_total, .product_um_total, .product_q_total{
    visibility:hidden;
}

.product_tax_total, .product_price_total{
    font-weight: 500;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid black;
}

.form-subsection-label{
    padding-left: 10px;
}

.form-group{
    padding-top:0;
    padding-bottom: 0;
}

.invoice-products-container{
    margin-top:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}

.invoice-products-table th{
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;
}

.form-sub-container{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.invoices-add-actions{
    width: 100%;
}

.invoices-add-actions button{
    float: right;
}

.button-label{
    display: flex;
    align-items: center;
}

#submit-invoice-button{
    background-color: #5eac72;
    border-radius: 5px;
    border:none;
    color:#F7F7F8
}

.save-as-container{
    display:flex;
    flex-direction: row;
}

.billing-products-input{
    width: 100%;
    border:none;
    border-bottom: 1px solid #353535;
    padding-left: 6px;
    padding-right: 6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f3f5f6;
}

.billing-products-input:hover{
    /*background-color: #f9f9f9;*/
}

.billing-products-input:disabled{
    background-color: #e9ecef;
    color:gray;
}

.billing-products-input:focus{
    outline: none;
    border-bottom:2px solid #353535 ;
    border-bottom: 2px solid #353535;
}

.billing-products-footer-input{
    width: 100%;
    border-bottom: 2px solid #353535 ;
    color:#353535 ;
    font-weight: 600;
    font-size: 20px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #e9ecef;
}

.billing-products-body .row{
    margin-top: 10px;
}

.billing-products-header div{
    font-weight: 500;
}

.billing-products-footer{
    margin-top:15px;
}

.remove-product-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    padding: 0;
    margin:0;
    border:0
}

.remove-product-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.invalid-input{
    border: 1px solid red
}