.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container{
  display:flex;
  flex-direction: row;
}

.app-content{
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #eff0f3;
}

.table{
  font-size:15px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background-color: #F7F7F8;
  padding:10px;
  border-radius: 6px;
}

table tbody{
  background-color: white;  
}

table tr:hover{
  cursor: default !important;
}

.table thead{
  border-bottom: 1px solid lightgray;
  font-size:15px;
  font-weight: 300 !important;
  color:black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.centered-td{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.table-active{
  color: #6c757d
}

.active-row{
  background-color: #f7f7f7
}

.centered-text-in-td{
  text-align: center;
}

.text-overflow-hide{
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.app-data-container{
  box-sizing: border-box;
  max-height: 100vh;
  padding-top:10px;
  padding-bottom:10px;
}

.page-link{
  color:#353535
}

.page-link.disabled{
  font-weight: 600;
}

.actions-container{
  display: flex;
  width:100%;
  justify-content: flex-end;
}


.action-close-window{
  position: absolute;
  top:0;
  right: 5px;
  top:5px;
  background-color: transparent;
  border:none;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  color: white;
  font-weight: 400!important;
  z-index: 5;
}

.material-icons-outlined{
  font-size: 24px;
}

.action-close-window .material-icons-outlined{
  font-size: 30px!important;
}
.actions-button{
  border-radius: 5px;
  color:#FFFFFF;
  border:none
}

.actions-button:hover{
  filter: brightness(110%);
}

.actions-button:disabled{
  background-color: #D9D9D9;
}

.action-button-label{
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.blur-overlap{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#282c34;
  opacity: 0.5;
  z-index:2;
}

.overlapping-component-inner{
  border-radius: 8px;
  padding:20px;
  background-color: white;
  position: absolute;
  z-index:10;
  max-width: 90vw;
  width: fit-content;
  height: fit-content;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom: auto;
  max-height: 90vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overlapping-component-inner::-webkit-scrollbar {
  display: none;
}


.overlapping-component-actions{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
}

.overlapping-component-actions button{
  float: right;
}

.app-title-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 6px;
  border-radius: 6px;
}

.app-title-container h4{
  margin: 0;
}

.app-submenu-selector{
  display:flex;
  width: fit-content;
  border-radius:6px;
  background-color: #D9D9D9;
}

.app-submenu-selector button{
  border:1px solid #F6F2F5;
  color:black;
  font-weight: 500;
  background-color: transparent;
  color:#353535
}

.app-submenu-selector button:hover{
background-color:#D1D1D1
}

.app-submenu-selector button:disabled{
    color:gray;
    font-weight: 500;
}

.app-data-table{
  width:100%;
}

.app-data-table th{
  font-weight: 500;
  padding: 4px;
  color: black;
  border-bottom: 1px solid lightgray;
}

.app-data-table td{
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.clients-table-row{
  height: 30px;
  line-height: 20px;
}

.clients-table-row th{
  padding: 4px;
}

.clients-table-row:hover{
  cursor: pointer;
}

.clients-table-row td{
  height: 30px;
  padding: 4px;
  vertical-align: middle;
}

.recurring-notifier{
  cursor: pointer;
}

.bd-title{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  text-align: left;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.2;
  color: inherit;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 3rem;
}

.bd-lead{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  max-width: 80%;
}

.bd-sec{
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  max-width: 80%;
}

.media{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.info-text-list{
  list-style-type:none;
  padding-left: 16px;
}

.info-text-list li{
  display: flex;
  align-items: center; 
  margin-bottom: 5px;
}

.pagination{
  margin-bottom: 0;
}

.info-text-boxes{
  display:flex;
  flex-direction: row;
}

.info-text-box{
  line-height: 25px;
}

.form-group label{
  color: #353535;
  font-weight: 500;
}

.form-group input:focus{
  border-color: #353535;
}

.menu-instructions{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
}

.client-form-button{
  width:30px;
  height: 30px;
  border-radius: 5px;
  border:none;
  margin-right: 5px;
  background-color: #5d9659;
  color:#F7F7F8;
}

.client-form-button span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-badge{
  width: 35px;
  min-width: 35px;
  height: 35px;
  border-radius: 40px;
  color:white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3C6E71;
  margin-right: 5px;
}

.invalid-data{
  border-color: red!important;
}

.form-container{
  padding: 10px;
  background-color:white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  border-radius: 6px;
}

.page-item{
  font-weight: 600;
}

.page-item.disabled{
  font-weight:400
}

.action-buttons-container{
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 5px;
  padding: 6px;
  border-radius:6px;
}

.action-buttons-container button{
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.action-buttons-container button:hover{
  background-color: #f7f7f7;
}

.overview-container{
  max-height: 800px;
}

.date-picker-button{
  border:0;
  margin-right: 5px;  
  border-radius: 6px;
  width: fit-content;
}

input[type=date]{
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  border:1px solid black;
  border-radius: 6px;
}

.clients-container{
  border-radius: 6px;
}

.expenses-container .app-data-container, .products-container .app-data-container{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  background-color: white;
  border-radius: 6px;
}

.interval-setter{
  background-color: transparent;
  height: fit-content;
  padding: 8px;
}

.productPropertyHeader{
  display:flex;
  flex-direction: row;
  font-weight: 600;
}

.productRow{
  display:flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
  padding-top: 3px;
  padding-bottom: 3px;
}

#new-product-form{
  background-color: white;
  padding: 16px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 2px;
  background: lightgray;
}

.search-input-container{
  border:1px solid lightgray;
  border-radius: 6px;
  height: 28px;
  display: flex;
  align-items: center;
}

.search-input-container button{
  display: inherit;
  align-items: center;
  background-color: transparent;
  height: 28px;
}

.search-input-container button:hover{
  background-color: transparent;
}

.search-input:focus{
  border: none!important;
}

.search-icon{
  display:flex;
  align-items:center;
  justify-content:'center';
  color:black;
}

.search-input{
  height: 24px;
  border: none;
}

.search-form-container{
  display: flex;
  flex-direction: row;
  height: 28px;
  margin-left: 10px;
}

.search-reset-button{
  color:lightgray
}

.search-reset-button:hover{
  color:black
}