.App {
  text-align: center;
  font-family: 'Oswald';
}

:root {
  --navBackground: #313a46;
  --navActive: #3eb489;
  --navColor: #8391a2;
  --borderRadius: 16px;
  --lightMint: #c3eadc;
  --shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}


body{
  background-color: #f5f7fa;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  /**font-family: "Poppins", sans-serif;*/
}

.app-content{
  width: 100%;
  height: 100%;
  background-color: #eff0f3;
}

.bluring-background{
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.table{
  font-size:15px;
  background-color: #F7F7F8;
  padding:10px;
  margin:0;
}

table tbody{
  background-color: white;  
}

table >tbody> tr:hover{
  cursor: default !important;
  background-color: lightgray;
}

.table thead {
  border-bottom: 1px solid lightgray;
  font-size:15px;
  font-weight: 300 !important;
  /*color:black;*/
  background-color: #313a46;
  color:white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.table > tbody > tr > .table-actions-container > button{
  visibility:hidden;
  float: right;
  border-radius: 4px;
  padding: 2px;
  margin-right: 5px;
}

.table-actions-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table > tbody > tr > .table-actions-container > div{
  visibility: hidden;
}

.table > tbody > tr > .table-actions-container > button:hover{
  background-color: transparent;
}

.new-invoice-table > tbody > tr > td > input{
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
}

.new-invoice-table > tbody > tr > td > input:focus{
  border-bottom: 1px solid black;
}

.new-invoice-table > tbody > tr > td > textarea{
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
}

.new-invoice-table > tbody > tr > td > textarea:focus{
  border-bottom: 1px solid black;
}

.new-invoice-table > tbody > tr > td{
  padding: 0;
}

.new-invoice-table > tbody> tr:hover{
  background-color: transparent;
}

.new-invoice-table > tbody > tr > td > input:disabled{
  color:gray;
  background-color: #f7f7f8
}

.new-invoice-table > tbody{
  border-bottom: 1px solid lightgray;
}

.table-actions-container button{
  background-color: transparent;
  border: none;
}

.table > tbody > tr:hover > .table-actions-container > button{
  visibility:visible;
}

.table > tbody > tr:hover > .table-actions-container > div{
  visibility:visible;
}

td{
  vertical-align: middle;
}

.centered-td{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.table-active{
  color: #6c757d
}

.active-row{
  background-color: #f7f7f7
}

.centered-text-in-td{
  text-align: center;
}

.text-overflow-hide{
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.app-data-container{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.page-link{
  color:#353535
}

.page-link:hover{
  cursor: pointer;
}

.page-link.disabled{
  font-weight: 600;
}

.actions-container{
  display: flex;
  width:100%;
  justify-content: flex-end;
}

.action-close-window{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--navActive);
  border-radius: 30px;
  font-size: 20px;
  color: var(--navActive);
  background-color: transparent;
  width: 26px;
  height: 26px;
}

.action-close-window > span{ 
  font-size: inherit!important;
}

.material-icons-outlined{
  font-size: 24px;
}

.actions-button{
  border-radius: 5px;
  color:#FFFFFF;
  border:none
}

.actions-button:hover{
  filter: brightness(110%);
}

.actions-button:disabled{
  background-color: #D9D9D9;
}

.action-button-label{
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.blur-overlap{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#282c34;
  opacity: 0.5;
  z-index:2;
}

.overlapping-component-inner{
  border-radius: var(--borderRadius);
  background-color: white;
  position: absolute;
  z-index:10;
  max-width: 90vw;
  width: fit-content;
  height: fit-content;
  min-width: 400px;
  max-height: 90vh;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom: auto;  
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}


.overlapping-component-inner::-webkit-scrollbar {
  display: none;
}

.overlapping-component-actions{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
}

.overlapping-component-actions button{
  float: right;
}

.overlapping-component-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--navBackground);
  padding: 16px;
  color:var(--navActive);
  font-size: 20px;
  font-weight: 600;
}

.app-title-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 6px;
  border-radius: 6px;
}

.app-title-container h4{
  margin: 0;
}

.app-submenu-selector{
  display:flex;
  width: fit-content;
  border-radius:6px;
  background-color: #D9D9D9;
}

.app-submenu-selector button{
  border:1px solid #F6F2F5;
  color:black;
  font-weight: 500;
  background-color: transparent;
  color:#353535
}

.app-submenu-selector button:hover{
background-color:#D1D1D1
}

.app-submenu-selector button:disabled{
    color:gray;
    font-weight: 500;
}

.app-data-table{
  width:100%;
}

.app-data-table th{
  font-weight: 500;
  padding: 4px;
  color: black;
  border-bottom: 1px solid lightgray;
}

.app-data-table td{
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.clients-table-row{
  line-height: 20px;
}

.clients-table-row th{
  padding: 4px;
}

.clients-table-row:hover{
  cursor: pointer;
}

.clients-table-row td{
  padding: 4px;
  vertical-align: middle;
}

.recurring-notifier{
  cursor: pointer;
}

.bd-title{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  text-align: left;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.2;
  color: inherit;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 3rem;
}

.bd-lead{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  max-width: 80%;
}

.bd-sec{
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  max-width: 80%;
}

.media{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.info-text-list{
  list-style-type:none;
  padding-left: 16px;
}

.info-text-list li{
  display: flex;
  align-items: center; 
  margin-bottom: 5px;
}

.pagination{
  margin-bottom: 0;
}

.info-text-boxes{
  display:flex;
  flex-direction: row;
}

.info-text-box{
  line-height: 25px;
}


.menu-instructions{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
}

.client-form-button{
  width:30px;
  height: 30px;
  border-radius: 5px;
  border:none;
  margin-right: 5px;
  background-color: #5d9659;
  color:#F7F7F8;
}

.client-form-button span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-badge{
  width: 35px;
  min-width: 35px;
  height: 35px;
  border-radius: 40px;
  color:white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3C6E71;
  margin-right: 5px;
}

.invalid-data{
  border-color: red!important;
  -webkit-box-shadow: 0px 0px 5px 0px #FF0000; 
box-shadow: 0px 0px 5px 0px #FF0000;
}

.form-container{
  padding: 10px;
  background-color:white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  border-radius: 6px;
}

.modified-data{
  border-color: var(--navActive);

}

.page-item{
  font-weight: 600;
}

.page-item.disabled{
  font-weight:400
}

.action-buttons-container{
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 5px;
  padding: 6px;
  border-radius:6px;
}

.action-buttons-container button{
  border-radius: 6px;
}

.action-buttons-container button:hover{
  background-color: #f7f7f7;
}

.overview-container{
  border-radius: 6px;
  border: 1px solid #F6F2F5;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  border-radius: inherit;
}

.date-picker-button{
  border:0;
  margin-right: 5px;  
  border-radius: 6px;
  width: fit-content;
}

input[type=date]{
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  border-radius: 6px;
}

.clients-container{
  border-radius: 6px;
}

.app-data-container, .products-container .app-data-container{
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  border-radius: 6px;
}

.interval-setter{
  background-color: transparent;
  height: fit-content;
  padding: 8px;
}

.productPropertyHeader{
  display:flex;
  flex-direction: row;
  font-weight: 600;
}

.productRow{
  display:flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
  padding-top: 3px;
  padding-bottom: 3px;
}

#new-product-form{
  background-color: white;
  padding: 16px;
  width: 100%;
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 2px;
  background: lightgray;
}

.search-form{
  margin-left: 15px;
}

.search-form-container{
  display: grid;
  grid-template-columns: 5% 80% 15%;
  align-items: center;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 6px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  width: 400px;
}

.search-form-container input{
  border: none;
}

.search-header-buttons-container{
  display: flex;
  justify-content: end;
}

.search-header-buttons-container button{
  border: none;
  background-color: transparent;
  color: lightgray;
}

.search-header-buttons-container button:hover{
  color: black;
}

.search-reset-button{
  color:lightgray;
  border:none
}

.search-reset-button:hover{
  color:black
}

.react-datepicker__day--disabled{
  background-color: #216ba5!important;
  border-radius: 0.3rem!important;
}

.nav-head-container{
  width: 100%;
  max-width: 100%;
}

.navigation-button{
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 5px;
}

.navigation-button .inner-button-content .material-icons-outlined{
  font-size: 16px;
}

.add-new-nav-button{
  cursor: pointer;
  padding: 3px;
  border-radius: 20px;
}

.add-new-nav-button:hover{
  background-color: lightgray;
}

.list-cards-container{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 65px);
  width: 250px!important;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.snackbar-container{
  color:white;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  background-color: #333; /* Black background color */
  border-radius: 2px; /* Rounded borders */
  padding: 8px; /* Padding */
  z-index: 1; /* Add a z-index if needed */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


#employee-info, #employee-title{
  padding: 0;
  list-style-type: none;
  font-weight: 400;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

#side-navigation{
  display: flex;
  flex-direction: column;
  width: fit-content;  
  height: 100vh;
  background-color: white; 
  justify-content: space-between;
}

.side-navigation-container{
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  background-color: var(--navBackground);
  border-right: 1px solid lightgray;
  padding-top: 32px;
  padding-bottom: 16px;
  width: 200px!important;
}

.side-navigation-list{
  padding: 0;
}

.side-navigation-list .nav-link a{
  text-decoration: none;
  width: 100%;
}

.side-navigation-list .nav-link a div{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-left: 16px;
}

.navigation-list-name{
  color: #3eb489;
  font-size:12px;
  padding-left: 12px;
}

.navbar-header{
  border-bottom: 1px solid lightgray;
}

.nav-link{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  color: #525b75;
  width: 100%;  
  height: 35px;
}

.nav-link > a > div{
  color: var(--navColor);
  transition: 0.3s;
  height: 35px;
}

.nav-link > a > div:hover{
  color: #bccee4;
}

.nav-link.active > a > div{
  color:var(--navActive);
  font-weight: 600;
}

.nav-link div{
  padding-right: 10px;
}

.nav-link .material-icons-outlined{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.add-new-button{
  width: 38px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
}

.list-group{
  overflow: auto;
  max-height: calc(100vh - 50px);
}

.vertical-list-container{
  max-height: 100vh;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius:0;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  width: 300px;
  border-bottom-left-radius: 6px;
}

.list-group-item-action{
  width: 100%;
  max-width: 299px;
}

#nav-settings-button{
  border-radius: 16px;
  width: 30px;
  height: 30px;
  background-color:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid lightgray
}

#expand-nav-button{
  width: 100%;
  border: none;
  background-color: transparent;
}

.clients-overview-container{
  display: flex;
  flex-direction: row;
  border-radius: 14px;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  height: 100%;
}

.invoices-add-container{
  padding:10px;
}

.vertical-list-container .list-group .list-group-item:hover{
  cursor: pointer;  
}

.pagination-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

.pagination-container > div> button{
  width: 24px;
  height: 24px;
  border:none;
  background-color: transparent;
  color:var(--navActive);
  padding: 0;
}

.pagination-container > div> button:hover{
  border: none;
}

.pagination-container > div> button:disabled{
  background-color: transparent;
  color:gray;
  border: none;
}

.pagination-step-selector{
  border-color: var(--navActive);
  border-radius: 6px;
  padding: 4px;
  color:var(--navActive);
  background-color: #f8f9fa;
}


.pagination-step-selector:focus{
  border: 1px solid var(--navActive);
}

.pagination-step-selector:focus-visible{
  border: 1px solid var(--navActive);
}


.page-navigation{
  width: 100%;
  margin:5px;
}

.page-link{
  border: none;
  font-weight: 600;
  font-size: 20px;
}

.page-link:hover{
  font-weight: 600;
  color: black;
  background-color: transparent;
}

.page-item.active > .page-link{
  background-color: transparent;
  color: var(--navActive);
  font-weight: 600;
  border-radius: 6px;
  z-index:auto;
}

#new-invoice-container{
  max-height: 90vh;
  border-radius: 6px;
}

.header-buttons-container button{
  border:none;
  border:1px solid lightgray;
}

.header-buttons-container button:hover{
  border:1px solid darkgray;
}

.btn-light:hover{
  background-color: lightgray;
}

.header-buttons-container  .btn-light{
  border-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.header-buttons-container  .btn-danger{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.header-buttons-container{
  display: inherit;
  justify-content: end;
}

.bordered-container{
  border: 1px solid lightgray;
  border-radius: var(--borderRadius);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  background-color: white;
}

.billing-products-header{
  border-bottom: 1px solid lightgray;
  font-size:15px;
  font-weight: 300 !important;
  color:black;
  background-color: #f7f7f8;
  display: grid;
  grid-template-columns: 25% 20% 10% 10% 10% 10% 10%;
}

.billing-products-header > div{
  padding-left: 12px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-top: 6px;
}

.billing-products-container{
  display: flex;
  justify-content: flex-start;
  border:1px solid black;
  border-radius: 6px;
}

.billing-products-container:hover{
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.billing-products-body-row{
  display: grid;
  grid-template-columns: 25% 20% 10% 10% 10% 10% 10% 5%;
}

.billing-products-body-row > div, .billing-products-body-descriptor-row > div{
  padding: 0;
}

.billing-products-body-row, .billing-products-body-descriptor-row{
  width: 100%;
}

.billing-products-body-row > div > input, .billing-products-body-descriptor-row >div > input{
  border-radius: 0;
  border: none;
  border-bottom: 1px solid lightgray;
}

.round-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  width: 28px;
  height: 28px;
  border: 1px solid lightgray;
  color:lightgray;
}

.round-button:hover{
  background-color: lightgray;
  color: black;
  border: 1px solid black;
}

.billing-products-footer{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 85% 15%;
}

.card{
  height: 100%;
  border-radius: var(--borderRadius);
}

.card-header{
  border-radius: var(--borderRadius);
}

.financial-grid{
  margin-top:25px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  row-gap: 10px;
  height: 350px;
}

.grid-item {

}

#databaseSelector{
  background-color: transparent;
  border-color: #3eb489;
  color: #3eb489;
  width: fit-content;
  min-width: 175px;
  padding: 4px;
}

.financial-square{
  background-color:white;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  border-radius: 16px;
  padding: 16px;
  height: 100%;
  border:1px solid lightgray;
  box-shadow: var(--shadow);
}

.financial-square > div{
  display: inherit;
  flex-direction: column;
}

.card-header, .card-footer{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-weight: 500;
  border: none;
}

.form-control:focus{
  border-color: #ced4da;
}

.mint-button{
  color: var(--navActive);
  border-radius: 6px;
  border: 1px solid var(--navActive)
}

.mint-button:hover{
  color: var(--navActive);
  background-color: var(--lightMint);
  border: 1px solid var(--navActive);
}

.outline-mint-button{
  border:1px solid var(--navActive);
  border-radius: 6px;
  display: flex;
  align-items: center;
  color:var(--navActive);
  font-weight: 500;
}

.outline-mint-button:hover{
  background-color: var(--lightMint)
}

.button-group-mint{
  border: 1px solid var(--navActive);
}

.button-group-mint > button{
  color:var(--navActive);
}

.button-group-mint > button:hover{
  color:var(--navActive);
  background-color: var(--lightMint);
  border:1px solid var(--lightMint)
}

.tabs{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.tab{
  border: none;
  border-bottom: 4px solid white;
  background-color: transparent;
  padding: 16px;
  font-weight: 500;
  color: gray;
}

.tab.active{
  border-bottom: 4px solid var(--navActive);
  color:var(--navActive);
}

.table-order-button{
  background-color: transparent;
  border:none;
  width: 20px;
  height: 20px;
  margin:0;
  padding: 0;
}

.table-order-button>span{
  font-size:20px;
  color:white;
}

.dashboard-header{
  color:var(--navActive);
  display: flex;
  align-items: center;
}

.dashboard-header > div{
  display: flex;
  justify-content: center;
  align-items: center;
  border:5px solid var(--navActive);
}


.database-container-expanded > div{
  border-radius: var(--borderRadius);
  border: 1px solid lightgray;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 16px
}

.database-container-expanded> div >div{
  display: inherit;
  flex-direction: column;
}

.grid-invoice > .grid-row{
  display: grid;
  grid-template-columns: auto auto auto auto auto; 
  column-gap: 5px;
}

.dropbtn:hover{
  background-color: transparent;
}